{# Written in 2023 by Theodore Jones tjones2@fastmail.com #}
{# To the extent possible under law, the author(s) have dedicated all copyright #}
{# and related and neighboring rights to this software to the public domain worldwide. #}
{# This software is distributed without any warranty. #}
{# http://creativecommons.org/publicdomain/zero/1.0/. #}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul>
                    <li><a href="{{ url_for('manage_feeds_route') }}">Manage Feeds</a></li>
                    <li><a href="{{ url_for('settings_route') }}">Settings</a></li>
                    <li><a href="{{ url_for('login_route') }}">Login</a></li>
                    <li><a href="{{ url_for('logout_route') }}">Logout</a></li>
                    <!-- Add more links here as needed -->
                </ul>
            </nav>
        </header>
        <div id="smtp-warning" style="display: none; padding: 10px; background-color: #f44336; color: white; text-align: center;">
            Warning: SMTP settings are not set. Feed Digests will not be emailed until this is corrected.
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='all_pages.js') }}"></script>
    </body>
</html>