{# Written in 2023 by Theodore Jones tjones2@fastmail.com #}
{# To the extent possible under law, the author(s) have dedicated all copyright #}
{# and related and neighboring rights to this software to the public domain worldwide. #}
{# This software is distributed without any warranty. #}
{# http://creativecommons.org/publicdomain/zero/1.0/. #}

{% extends "base.html" %}

{% block title %}
Logout
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
    $.get("/api/destroy_current_api_key")
        .done(function() {
            // Remove the 'api_key' cookie
            document.cookie = "api_key=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

            // Redirect to the login page
            window.location.href = "{{ url_for('login_route') }}";
        })
        .fail(function() {
            console.error("Error destroying API key.");
        });
});
</script>
{% endblock %}
