{# Written in 2023 by Theodore Jones tjones2@fastmail.com #}
{# To the extent possible under law, the author(s) have dedicated all copyright #}
{# and related and neighboring rights to this software to the public domain worldwide. #}
{# This software is distributed without any warranty. #}
{# http://creativecommons.org/publicdomain/zero/1.0/. #}

{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <h1>SMTP Settings</h1>
    <form id="smtp-settings-form">
        <label for="host">Host:</label>
        <input type="text" id="host" required>
        <label for="port">Port:</label>
        <input type="text" id="port" required>
        <label for="username">Username:</label>
        <input type="text" id="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" required>
        <button type="submit">Save SMTP Settings</button>
    </form>
    <p id="message"></p>

    <h1>Destroy All API Keys and Log Out</h1>
    <button id="destroy-api-button">Destroy API Keys</button>

    <h1>Get API Key</h1>
    <button id="get-api-key-button">Get API Key</button>
    <h2>API Key</h2>
    <div id="api-key-display"></div>
    <h2>User ID</h2>
    <div id="user-id-display"></div>


    <script src="{{ url_for('static', filename='settings.js') }}"> </script>
{% endblock %}
